@page "/"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OnlineShop.Models
@using OnlineShop.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OnlineShop.Data.AppDbContext> DbFactory

<PageTitle>صحفه اصلی - محصولات</PageTitle>

<div class="container-lg container-fluid mb-5" style="overflow-x: auto; white-space: nowrap;">
    <QuickGrid Class="table table-striped mt-3" Items="context.Products">
        <PropertyColumn Property="product => product.Name" Sortable="true" Title="نام" />
        <PropertyColumn Property="@(product => product.Price.ToString("N0"))" Title="قیمت" />
        <PropertyColumn Property="product => product.Stock" Sortable="true" Title="موجودی" />
        <PropertyColumn Property="product => product.PersianCreatedDate" Title="تاریخ ثبت" />

        <TemplateColumn Context="product">
            <a class="text-success" href="@($"products/details?id={product.Id}")"><i class="bi bi-eye"></i></a>
            <a class="mx-lg-2" href="@($"products/edit?id={product.Id}")"><i class="bi bi-pencil"></i></a>
            <a class="text-danger" href="@($"products/delete?id={product.Id}")"><i class="bi bi-trash"></i></a>
        </TemplateColumn>
    </QuickGrid>
</div>


@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
