<nav class="navbar navbar-dark bg-gradient">
    <div class="container-lg container-fluid">
        <NavLink class="nav-link text-white bg-dark rounded-pill fs-5" href="/" Match="NavLinkMatch.All">
            <span>محصولات</span>
        </NavLink>
        <NavLink class="nav-link text-white bg-dark rounded-circle" href="/products/create" Match="NavLinkMatch.All">
            <span class="fw-bold">+</span>
        </NavLink>
    </div>
</nav>

